html{
    background-color: #616163;
}
img{
    width: 175px;
    height: 175px;
    
    border: ivory;
    border-style: solid;
    border-radius: 50%;
}
#principal{
    margin-left: 100px;
    padding: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
#padre{
    display: flex;
    flex-direction: row;
}
span{
    color: #FFFAFF;    

}
.DESCRIPCION{
    display: flex;
    margin-left: 15px;
}
h1{
    margin-left: 15px;
    color:#CBFF4D ;
}
h2,h3,h4,h5,h6{
    color:#CBFF4D;
}
li{
    color:#FFFAFF ;
    text-decoration-color:#002500 ;
}
#content{
    margin-left: 25px;
}
#why{
    background-color: #002500;
    margin-top: 90px;
    border-radius: 25%;
    border: #FFFAFF;
    border-style: solid;
    height:180px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.whyson{
    align-items: center;
    justify-content: space-around;
    align-self: center;
}
#Gpadre{
    
    display: flex;
    flex-direction: column;
}
p{
    color: #FFFAFF;
    text-align: center;
}
#hobbies{
    border-top:dotted;
    border-bottom: dotted;
    padding: 5px;
    padding-bottom: 20px;
    border-top-color: #FFFAFF;
    border-bottom-color: #FFFAFF;
    border-left:none ;
    border-right: none;
    
}
